@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Kaushan+Script&family=Marck+Script&display=swap');

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

header {
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

header nav {
    position: relative;
    float: left;
    left: 20vw;
}

header nav ul {
    list-style: none;
    padding: auto;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li a {
    padding: 15px;
    color: #D25887;
    font-family: "Marck Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}

.active {
    color: #580E8A;
}

.hero-container{
    display: flex;
    justify-content: center;
    padding: 102px 0 0;
}

header nav ul li a:hover {
    border-bottom: 5px solid #D9A6AD;
}

.hero--info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0px 130px;
}

.hero--info h1 {
    color: #D25887;
    font-size: 128px;
    font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.hero--info p {
    color: #580E8A;
    font-size: 32px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Minnie-albom {
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.info-her{
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Minnie-albom h1 {
    color: #F1342E;
    font-size: 64px;
    display: flex;
    justify-content: center;
    padding: 200px 0 0;
}

.info-her h2 {
    color: #F1342E;
    font-size: 48px;
    width: 568px;
}

.info-her p {
    color: #580E8A;
    font-size: 40px;
    text-align: center;
    width: 568px;
}

.info-her {
  display: flex;
  flex-direction: column;
  padding: 50px 150px 0 0;
  float: right;
}

.Minnie {
  display: flex;
  padding: 0 0 0 100px;
}

.name{
  display: flex;
  justify-content: center;
  padding: 150px 0 0 0;
}

.Soyon h2{
    font-size: 64px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Soyon p{
    width: 848px;
    color: #580E8A;
    font-size: 32px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Soyon{
  display: flex;
  flex-direction: column;
  float: right;
  padding: 0 75px 0 0;
}

.foto_Soyon {
  display: flex;
  padding: 150px 0 0 0;
}

.name h1{
    color: #580E8A;
    font-size: 64px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Minni h2{
    font-size: 64px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Minni p{
    width: 848px;
    color: #580E8A;
    font-size: 32px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Minni{
  display: flex;
  flex-direction: column;
  float: right;
  padding: 30px 75px 0 0;
}

.foto_Minni {
  display: flex;
  padding: 150px 0 0 0;
}

.Mion h2{
    font-size: 64px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Mion p{
    width: 848px;
    color: #580E8A;
    font-size: 32px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Mion{
  display: flex;
  flex-direction: column;
  float: right;
  padding: 30px 75px 0 0;
}

.foto_Mion{
  display: flex;
  padding: 100px 0 0 0;
}

.Yugi h2{
    font-size: 64px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Yugi p{
    width: 848px;
    color: #580E8A;
    font-size: 32px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Yugi{
  display: flex;
  flex-direction: column;
  float: right;
  padding: 30px 75px 0 0;
}

.foto_Yugi {
  display: flex;
  padding: 100px 0 0 0;
}

.Shu h2{
    font-size: 64px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Shu p{
    width: 848px;
    color: #580E8A;
    font-size: 32px;
    font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.Shu{
  display: flex;
  flex-direction: column;
  float: right;
  padding: 30px 75px 0 0;
}

.foto_Shu {
  display: flex;
  padding: 100px 0 0 0;
}

.Frozen {
    display: flex;
    justify-content: center;
    padding: 102px 0 0;
}

.centered {
  position: absolute;
    bottom: 80px;
    left: 380px;
}

.centered {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
}

.centered{
  color: #ffffff;
    font-size: 96px;
    display: flex;
    justify-content: center;
}

.sorry {
  color: #580e8a88;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

.logoG {
  display: flex;
  justify-content: center;
}

.notshop{
  color: #580e8a88;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding: 102px 0 0;
}

.shop{
  display: flex;
  justify-content: center;
}

.notnews {
  color: #580e8a88;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding: 102px 0 0;
}

.New {
  display: flex;
  justify-content: center;
}

.Mus {
  color: #580e8a88;
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding: 102px 0 0;
}

.QR {
  display: flex;
  justify-content: center;
}